/* whole body start */
body {
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/image\ 06-1.jpg);
    background-repeat: no-repeat;
}

/* whole body end */



/* header section start*/

#top-header {
    color: white;
    margin-top: 140px;
    margin-left: 200px;
    font-size: 50px;
    margin-bottom: 0%;
}

.second-header {
    margin-top: 0px;
    color: white;
    margin-left: 200px;
    font-size: 50px;
}

#header-paragraph {
    margin: 0px 775px 50px 200px;
    color: white;
    font-size: 20px;
}

/* header section end */

/* universal thing */

.donate-button {
    color: white;
    background-color: rgb(239, 35, 60);
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
}

.margin-left {
    margin-left: 200px;
}

.margin-right {
    margin-right: 200px;
}

/* Section 01 start */

.explore-banner {
    width: 50%;
}

.explore-banner h1 {
    font-size: 40px;
}

.explore-banner p {
    font-size: 20px;
}

#explore-banner-h1 {
    margin-bottom: 10px;
}


.explore-banner img {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 20px;
    border-radius: 10px;

}

/* section 01 end */
.section-control {
    display: flex;
    margin-top: 200px;
}

.head-paragraph {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
}

.head-paragraph p {
    font-size: 20px;
}

.head-paragraph h1 {
    font-size: 50px;
}

.direct-section {
    margin-top: 200px;
}

.direct-help {
    display: flex;

}

.direct-image {
    height: 50px;
    padding: 20px;
}

.padding {
    margin: 10px;
}

.div {
    display: flex;
    background-color: rgb(254, 244, 245);
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
}

.image-div{
    display: flex;
    margin-top: 200px;
}

.img-control{
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}