/* whole body start */
body {
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/image\ 06-1.jpg);
    background-repeat: no-repeat;
}

/* whole body end */



/* header section start*/

#top-header {
    color: white;
    margin-top: 140px;
    margin-left: 200px;
    font-size: 50px;
    margin-bottom: 0%;
}

.second-header {
    margin-top: 0px;
    color: white;
    margin-left: 200px;
    font-size: 50px;
}

#header-paragraph {
    margin: 0px 775px 50px 200px;
    color: white;
    font-size: 20px;
}

/* header section end */


.donate-button {
    color: white;
    background-color: rgb(239, 35, 60);
    text-decoration: none;
    margin-left: 200px;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
}

/* Section 01 start */

.explore-banner {
    width: 50%;
}

.explore-banner h1,
p {
    margin-left: 200px;
}

.explore-banner h1 {
    font-size: 40px;
}

.explore-banner p {
    font-size: 20px;
}

#explore-banner-h1 {
    margin-bottom: 10px;
}


.explore-banner img {
    width: 500px;
    height: 400px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 20px;
    border-radius: 10px;

}

/* section 01 end */
.section-one {
    display: flex;
    margin-top: 200px;
}